body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
    text-align: center;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding-left: 100px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.home-content img {
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    border-radius: 10px;
}
.special-offers, .testimonials {

    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.special-offers img {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #005f73;
}